@media (max-width: 768px) {
  /* Common CSS */
  section {
    padding: 0 20px !important;
  }
  .inner {
    width: 100%;
  }
  .inner > div {
    float: none;
    width: 100%;
    text-align: center;
  }
  section.feature.smart .inner,
  section.feature.edit .inner {
    display: flex;
    flex-direction: column;
  }
  section.feature.smart .inner .decs,
  section.feature.edit .inner .decs {
    order: 1;
  }
  section.feature.smart .inner .photo,
  section.feature.edit .inner .photo {
    order: 2;
  }
  section.feature {
    padding: 25px 0;
    line-height: 1.5em;
  }
  .decs {
    padding: 0 20px;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .decs h1 {
    font-size: 24px;
  }

  /* Header */
  header .btn-download {
    width: 150px;
  }

  /* Section: welcome */
  .heading {
    width: 80%;
  }
  .heading h1 {
    font-size: 32px;
    line-height: 1.5em;
  }
  .download span {
    display: none;
  }
  .statics {
    display: none;
  }
  .next-section {
    transform: translateX(-50%) scale(0.8);
  }

  /* Section : Callaction */
  section.callaction {
  background-image: url(img/download-bg-mobile.svg);
  padding-top: 80px !important;
  }
  section.callaction h1 {
    font-size: 26px;
  }

  /* Footer */
  .footer-inner {
    width: 100%;
  }

  /* Sitemap */
  .link-item {
    font: none;
    width: 100%;
  }
  .link-item-title {
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .link-item-content {
    display: none;
  }

  /* Copyright */
  .copyright {
    text-align: center;
    border: none;
    padding-top: 0;
  }
  .logo-footer {
    width: 100%;
  }
  .policy {
    float: none;
    margin-bottom: 20px;
  }
  .policy a {
    margin: 2px;
    font-size: 14px;
  }
  .language {
    font: none;
  }
}