@media (max-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
  .container {
    width: 100%;
    /* margin: auto; */
  }
  .container section:nth-of-type(1),
  .container section:nth-of-type(3),
  .container section:nth-of-type(5) {
    background-color: #ccc;
  }
  /* ############### header ############## */
  header {
    /* margin-top: 80px; */
    /* overflow: hidden; */
    text-align: center;
    margin-bottom: 100px;
  }
  .logo {
    /* display: block; */
  }
  .logo h1 {
    font-size: 80px;
    text-transform: uppercase;
    float: none;
  }
  .logo h1 span {
    font-size: 36px;
  }
  /* nav */
  nav {
    float: none;
  }
  nav a {
    color: #000;
    text-decoration: none;
    text-align: right;
  }
  nav a img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 20px;
  }

  /* ################ section ############## */
  section {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    
  }
  

  /* ################ article ############### */
  article {
    width: 100%;
    height: auto;
    padding: 0 30px;
  }
  section article:nth-of-type(1) {
    margin-top: 50px;
  }
  .img a img {
    position: static;
    transform: translate(0);
    width: 100%;
    border-radius: 30px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.205);
  }
  .img {
    transition: 0.5s;
    cursor: pointer;
  }
  .desc {
    padding: 60px;
    text-align: left;
    margin-top: -60px;
    
  }
  .desc h2 {
  font-size: 56px;  
  }
  .desc p {
    font-size: 24px;

  }

  /* ################ footer ############### */
  footer {
    width: 100%;
    padding: 0 30px;
    line-height: 40px;
  }
}
