/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
font-family: 'Noto Sans KR', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
font-family: 'Source Sans Pro', sans-serif;
/* Web Fonts : Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
font-family: 'Lato', sans-serif;
/* Noonnu Korean Fonts */
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-weight: normal;
}
body {
  margin: 0;
  font-size: 26px;
}
.container {
  width: 1200px;
  margin: auto;
}

/* ############### header ############## */
header {
  margin-top: 80px;
  overflow: hidden;
}
.logo {
  display: block;
}
.logo h1 {
  font-size: 80px;
  text-transform: uppercase;
  float: left;
}
.logo h1 span {
  font-size: 36px;
}
/* nav */
nav {
  float: right;
}
nav a {
  color: #000;
  text-decoration: none;
  text-align: right;
}
nav a img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 20px;
}

/* ################ section ############## */
section {
  width: 1200px;
  text-align: center;
  display: flex;
}

/* ################ article############### */
article {
  width: 400px;
  height: 350px;
  position: relative;
}
.img a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: -100; */
  width: 350px;
  border-radius: 30px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.205);
}
.img {
  transition: 0.5s;
  cursor: pointer;
}
.img:before {

}
.img:hover {
  opacity: 0.1;

  
}
.desc {
  padding: 60px;
  text-align: left;
  /* overflow: hidden; */
}