/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  /* color: #222; */
  /* color: aliceblue; */
  text-decoration: none;
}

.profile {
  /* border: 1px solid rebeccapurple; */
  background-color: #fff;
  width: 500px;
  height: 700px;
  /* text-align: center; */
  padding: 50px;
  box-sizing: border-box;
  border-radius: 30px;
  position: relative;
  padding-top: 120px;
}
.face {
  border: 1px solid blue;
  border-radius: 50%;
  position: absolute;
  top: 0;
  display: block;
  transform: translate(50%, -50%);
}
.profile h2 {
  text-align: center;
}
.profile ul {}
.profile li {}
.content {}
.content h3 {}
.content p {}
.content button {}
.content p {}