/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
/* Web Fonts : Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* Noonnu Korean Fonts */
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans KR';
  color: #222;
  margin: 0;
  line-height: 1.5em;
  font-size: 15px;
  background-color: #eee;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #222;
}

/* Common CSS */
section {
  
}

/* three type header navigation */
header {
  font-weight: normal;
  background-color: #fff;
  box-shadow: rgb(148, 148, 148);
}
nav {
  width: 1100px;
  margin: auto;
}
nav > div {
  border: 1px solid red;
  height: 70px;
}
.logo {}
.gnb {}
.gnb a {}
.lnb {}
.lnb a {}