body {
  /* background-color: #fff; */
}

header {
  border: 1px solid red;
}
nav {
  border: 1px solid #000;
  width: 1200px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}
nav > div {
  border: 1px solid red;
  line-height: 70px;
}
.logo {
  float: left;
}
.gnb {
  width: 700px;
  /* display: inline-block; */
  text-align: center;
}
.login {
  float: right;
}
.login a {
  background-color: teal;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
}