/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Raleway', sans-serif;
  /* background-color: #222; */
  /* color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  color: #222;
  /* color: aliceblue; */
  text-decoration: none;
}


