body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.heading {
  font-size: 8em;
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
  background-image: linear-gradient(315deg, #08AEEA 0%, #2AF598 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div {
  border: 20px dashed #000;
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: red;
  display: none;
}