/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
font-family: 'Noto Sans KR', sans-serif;

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
font-family: 'Raleway', sans-serif;

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
font-family: 'Montserrat', sans-serif;

/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
font-family: 'Roboto', sans-serif;

/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
font-family: 'Source Sans Pro', sans-serif;

/* Web Fonts : Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
font-family: 'Lato', sans-serif;

/* Web Fonts : Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
font-family: 'Playfair Display', serif;

/* Noonnu Korean Fonts */
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  line-height: 1.6em;
}

/* toggle trigger */
.toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 11;
}
.toggle i {
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: rgb(97, 27, 27);
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.331);
  transition: 0.5s;
}

/* toggle trigger */
.toggle.active i {
  background-color: yellowgreen;
  transform: rotate(315deg);
}

/* overlay */
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.938);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}
.overlay.active {
  transform: scale(130);
  opacity: 1;
}

/* common CSS */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(odd) {
  background-color: #f8f8f8;
}
section .inner {
  width: 1550px;
  text-align: center;
}

/* section : welcome */
section.welcome {
  height: 100vh;
  width: 100%;
}
section.welcome img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.heading {}
.heading h1 {
  font-size: 3em;
  position: relative;
  padding-bottom: 45px;
}
.heading h1:before {
  content: '';
  position: absolute;
  width: 150px;
  height: 4px;
  background-color: crimson;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.heading p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.gnb {
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}
.gnb.active {
  opacity: 1;
  pointer-events: all;
}
.gnb a {
  color: #fff;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  line-height: 1.6em;
  position: relative;
  padding-right: 20px;
}
.gnb a:after {
  content: '';
  position: absolute;
  height: 20px;
  width: 0;
  background-color: yellowgreen;
  left: 0;
  bottom: 7px;
  z-index: -1;
  transition: 0.5s;
}
.gnb a:hover:after {
  width: 100%;
}