body {
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #222;
}

.container {
  width: 1200px;
  margin: auto;
  text-align: center;
}
header {
  background-color: yellowgreen;
  height: 50px;
}
section {
  display: flex;
  height: 500px;
  /* justify-content: space-between; */
}
article {
  background-color: #ccc;
  flex: 3;
}
aside {
  background-color: grey;
  flex: 1;
}
nav {
  background-color: lightgrey;
  flex: 1;
}
footer {
  background-color: yellowgreen;
  height: 50px;
}