.container {
  
}
header {
  background-color: yellow;
  padding: 30px;
}
header h2 {
  margin: 0;
}
.banner {
  background-color: greenyellow;
  padding: 30px;
}
section {
  display: flex;
  height: 100%;
}
section article {}
.navi {
  background-color: pink;
}
.content {
  background-color: skyblue;
}

@media (max-width: 768px) {

}