/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Raleway', 'Montserrat', 'Monoton', sans-serif;
  color: #fff;
}
a {
  text-decoration: none;
}

/* BG video */
.video-frame {}
.video-frame video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Logo */
.logo {
  position: absolute;
  top: 50px;
  left: 100px;
}

/* Heading */
.heading {
  position: absolute;
  width: 700px;
  left: 100px;
  bottom: 100px;
  animation: showing 2s 1s linear;
  animation-fill-mode: both;
}
.heading h1 {
  font-size: 60px;
  margin: 0;
}
.heading h1 span {
  display: block;
  color: crimson;
}
.heading p {
  font-size: 1.2em;
  line-height: 1.5em;
}
.btn-books,
.btn-learn {
  background-color: #fff;
  color: #222;
  text-transform: uppercase;
  width: 140px;
  display: inline-block;
  padding: 7px;
  text-align: center;
  border-radius: 20px;
  margin-right: 5px;
  border: 2px solid #fff;
  transition: 0.3s;
}
.btn-learn {
  background-color: transparent;
  color: #fff;
}
.btn-books:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}
.btn-learn:hover {
  background-color: #fff;
  color: #000;
}

/* Anniversary */
.anniversary {
  position: absolute;
  right: 100px;
  bottom: 50px;
  color: #000;
  text-align: center;
  animation: showing2 2s 3s linear;
  animation-fill-mode: both;
}
.anniversary em {
  display: block;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: -20px;
}
.anniversary span {
  font-family: 'monoton', sans-serif;
  font-size: 150px;
}
/* Trigger */
.trigger {
  width: 40px;
  height: 20px;
  position: absolute;
  right: 50px;
  top: 50px;
  cursor: pointer;
  z-index: 100;
}
.trigger span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: 0.3s;
}
.trigger span:nth-child(1) {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
  right: 0;
  width: 80%;
}
.trigger span:nth-child(3) {
  top: 100%;
}
.trigger.active span {
  background-color: #fff;
}
.trigger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}
.trigger.active span:nth-child(2) {
  opacity: 0;
}
.trigger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}
/* Modal GNB */
.modal-gnb {
  background-color: rgba(0, 0, 0, 0.801);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
.gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gnb a {
  color: #fff;
  font-size: 60px;
  display: block;
  padding: 10px;
  font-family: 'Raleway';
  transition: 0.3s;
}
.gnb a:hover {
  color: crimson;
}

@keyframes showing {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes showing2 {
  0% {
    opacity: 0;
    margin-right: -100px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}