/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Web Fonts : Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

/* XEICON CDN  */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #222;
}

/* header */
header {
  
}
.gnb {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
.gnb.active {
  opacity: 1;
  pointer-events: all;
}
.gnb li {
  list-style: none;
}
.gnb a {
  color: #fff;
  text-decoration: none;
  font-family: 'Playfair Display', 'serif';
  font-size: 3.5em;
  line-height: 1.6em;
  position: relative;
}
.gnb a:after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 20px;
  width: 0;
  background-color: yellowgreen;
  left: 0;
  bottom: 3px;
  transition: 0.3s;
}
.gnb a:hover:after {
  width: 105%;
}

.toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}
.toggle i {
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: #000;
  color: #fff;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.453);
  transition: 0.5s;
}
/* toggle trigger */
.toggle.active i {
  background-color: yellowgreen;
  transform: rotate(315deg);
  
}

/* overlay */
.overlay {
  background-color: rgba(0, 0, 0, 0.87);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  left: 20px;
  transition: 0.5s;
  overflow: 0;
}
.overlay.active {
  transform: scale(130);
}

.background img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

/* section: welcome */
.section-inner {
  text-align: center;
  margin: auto;
  width: 1150px;
  height: 100vh;
  padding: 100px;
}
section.background {
  /* border: 1px solid #000; */
  width: 100%;
  height: 100vh;
  
}


section.welcome {

}
.section-inner {}
.section-inner h2 {}
.section-inner p {}