/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: #222;
}

/* header */
header {}
.toggle {}
.toggle a {}

.overlay {}
.background {
  /* width: 1200px;
  height: 500px; */
  background: url(img/bg-welcome.jpg) no-repeat cover center center;
}

section {
  border: 1px solid #000;
  width: 800px;
  margin: auto;
  text-align: center;

}

section.welcome {

}
.section-inner {}
.section-inner h2 {}
.section-inner p {}