/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Web Fonts : Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

/* XEICON CDN  */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #222;
}

/* header */
header {}
.toggle {}
.toggle a {}

.overlay {}
.background {
}

section {
  border: 1px solid #000;
  width: 1150px;
  margin: auto;
  text-align: center;
  padding: 50px;
}

section.welcome {

}
.section-inner {}
.section-inner h2 {}
.section-inner p {}