/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
font-family: 'Noto Sans KR', sans-serif;
/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
font-family: 'Raleway', sans-serif;
/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
font-family: 'Montserrat', sans-serif;
/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
font-family: 'Roboto', sans-serif;
/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
font-family: 'Source Sans Pro', sans-serif;
/* Noonnu Korean Fonts */
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  outline: none;
}
body {
  background-color: rgba(187, 187, 187, 0.301);
}
.container { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

/* Common */
.member img {
  width: 150px;
  margin: auto;
}
.member > div {
  padding: 10px;
}
.field {
  display: block;
}
input:not(input[type=radio]) {
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.192);
  height: 30px;
  margin-top: 10px;
}
.birth div, .birth select {
  display: flex;
  /* border: 1px solid #000; */
  gap: 3px;
}
/* input[type=radio] {
  display: none;
} */
.gender {
  border: 1px solid rgba(0, 0, 0, 0.116);
  background-color: #fff;
  background: url(img/icon-radio.png) center left no-repeat;
}
.tel-number div {
  display: flex;
  gap: 10px;
}
.tel-number > div > input[type=tel] {
  flex: 2;
}
.tel-number > div > input[type=button] {
  flex: 1;
} 
.member-foooter {
  text-align: center;
}

.field input:focus {
  border: 1px solid rgb(13, 142, 146);
}