/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  width: 900px;
}
.tab-inner {
  margin-top: 30px;
}
.btn {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-left: 10px;
}
.btn li {
  float: left;
  width: 120px;
  text-align: center;
  cursor: pointer;
  background-color: #eee;
  border-right: 1px solid #ddd;
  padding: 5px;
  border-top: 2px solid transparent;
}
.btn li:last-child {
  width: 170px;
  border-right: none;
}
.btn li:hover,
.btn li.active {
  background-color: #fff;
  border-top: 2px solid coral;
}
.tabs div {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  height: 350px;
  display: none;
}
.tabs div.active {
  display: block;
}

/* tab content */
.tabs div h2 {
  text-align: center;
}
.tabs div img {
  float: left;
  margin-right: 20px;
}
.tabs div p {
  overflow: hidden;
}

/* heading */
.heading {}
.heading h1 {
  font-size: 30px;
  text-align: center;
}
.heading h1 span {
  color: salmon;
}
.heading input[type=text] {
  outline: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ddd;
  background: #fff url(/imges/search-icon.png) no-repeat center left 5px;
  background-size: 23px;
  padding-left: 35px;
}
.heading input[type=text]::placeholder {
  font-style: italic;
  transition: 0.3s;
}
.heading input[type=text]:focus {
  background-color: #eee;
}
.heading input[type=text]:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}