/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
font-family: 'Noto Sans KR', sans-serif;
/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
font-family: 'Raleway', sans-serif;
/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
font-family: 'Montserrat', sans-serif;
/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
font-family: 'Roboto', sans-serif;
/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
font-family: 'Source Sans Pro', sans-serif;
/* Noonnu Korean Fonts */
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  outline: none;
}

body {
  font-size: 14px;
  background-color: #f5f6f7;
  line-height: 1.5em;
  color: #222;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: 222;
}

/* reset CSS */
input, select {
  cursor: pointer;
}

/* member sign in */
.member {
  width: 460px;
  margin: auto;
  /* padding: 0 20px; */
}
.member .logo {
  height: 30px;
  display: block;
  margin: 50px auto;
}
.field {
  margin: 5px 0;
}
.field b {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.member input:not(input[type=radio]), .field select {
  border: 1px solid #dadada;
  padding: 15px;
  width: 100%;
  margin-bottom: 5px;
}
.member input[type=button],
.member input[type=submit] {
  background-color: #2db400;
  color: #fff;
}
.member input:not(input[type=radio]):focus, .field select:focus {
  border: 1px solid #2db400;
}
.field.birth div {
  display: flex;
  gap: 10px;
}
.field.tel-number div {
  display: flex;
  gap: 10px;
  margin: 5px 0;
}
.field.tel-number div input:nth-child(1) {
  flex: 2;
}
.field.tel-number div input:nth-child(2) {
  flex: 1;
}
.field.gender div {
  border: 1px solid #dadada;
  background-color: #fff;
  padding: 15px 5px;
}

.placehold-text {
  display: block;
  position: relative;
}
.placehold-text:before {
  content: '@naver.com';
  position: absolute;
  right: 20px;
  top: 15px;
  pointer-events: none;
}

.userpw {
  background: #fff url(img/icon-01.png) no-repeat center right 15px;
  background-size: 20px;
}

.member-footer {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}
.member-footer div a:nth-child(2) {
  font-weight: 500;
}
.member-footer a:hover {
  text-decoration: underline;
  color: #2DB400;
}
.member-footer div a {
  /* margin-right: 10px;
  border-right: 1px solid #bbb;
  padding-right: 10px; */
}
.member-footer div a:after {
  content: '|';
  font-size: 10px;
  color: #bbb;
  margin-right: 5px;
  padding-left: 7px;
  transform: translateY(-2px);
  display: inline-block;
}
.member-footer div a:last-child:after {
  display: none;
}

/* custom select  & number */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(images/icon-select.png) no-repeat center right 20px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}