/* Google Web Font : Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Reset CSS */
* { box-sizing: border-box; }
ul { list-style: none; }
a { text-decoration: none; }

/* Default CSS */
body {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  font-size: 15px;
  margin: 0;
  height: 100vh;
  background-color: #fff;
}

/* Entire Layout */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 100%;
  position: relative;
}
.content {
  background-color: #ddd;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  left: 20px;
  bottom: 20px;
  overflow: hidden;
}

/* Header */
header {
  position: fixed;
  width: 100%;
}
.gnb-inner {
  width: calc(100% - 40px);
  margin: auto;
  overflow: hidden;
  line-height: 60px;
}
.logo {
  float: left;
}
.logo a {}
.gnb {
  float: right;
}
.menu {
  display: none;
}
.menu a {}
.slogan {
  font-size: 16px;
  font-style: italic;
}


/* ########### section : about ########### */
.about-inner {
  height: 100%;
  background: #0dace3 url(/portfolio/website-works/01/images/line-drawing.png) no-repeat right bottom;
}
.about-items {
  width: 60%;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
}
.item {
  overflow: hidden;
  margin-bottom: 30px;
}
.item:hover img {
  filter: invert(0);
}
.item:hover h3 {
  color: #000;
}
.item img {
  height: 130px;
  float: left;
  margin-right: 40px;
  filter: invert(1);
  transition: 0.3s;
}
.item h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  transition: 0.5s;
  letter-spacing: -1px;
}
.item p {
  font-size: 18px;
  overflow: hidden;
}

/* ########### section : awards winner ########## */
.awards-inner {
  height: 100%;
  border: 1px solid #ddd;
}
.awards-inner > div {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}
.about-awards {
  background-color: #1a1f24;
  color: #fff;
}
.about-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}
.about-heading h2 {
  margin: 0;
}
.about-heading p {
  color: #999;
  font-size: 16px;
  line-height: 1.5em;
}
.view-awards {
  transition: 0.3s;
  color: #ddd;
  border: 1px solid #bbb;
  padding: 5px 15px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 10px;
}
.view-awards:hover {
  background-color: #31c0ce;
  color: #fff;
  border-color: transparent;
}
.victory-jump {
  background-color: #fff;
}
.victory-jump img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
hr.bar {
  width: 50px;
  height: 4px;
  border: none;
  background-color: crimson;
  margin: 30px auto;
}

/* ########### section : location ########## */
.location-inner {
  background: url(/portfolio/website-works/01/images/background-location.jpg) no-repeat center center;
  height: 100vh;
}
.location-inner:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.769);
  position: absolute;
  width: 100%;
  height: 100%;
}
.feature {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bbb;
}
.feature > div {
  float: left;
}
.office {
  width: 60%;
  padding-right: 100px;
}
.service {
  width: 40%;
}
.Headquarters {}
.Headquarters b {}
.office b {
  font-weight: normal;
}
.office h2 {
  color: #1db1f0;
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
  text-align: left;
}
.office p {
  font-size: 16px;
  line-height: 1.5em;
}
.office span {
  color: #fff;
}
.customer-service {
  margin-top: 40px;
}
.service-item {
  margin-bottom: 40px;
}
.service-item .fa {
  color: #1db1f0;
  font-size: 40px;
}
.service-item h3 {
  color: #fff;
  font-size: 22px;
  margin: 0;
}

/* ########### section : location ########## */
.contact-inner {
  background-color: #fff;
  height: 100%;
  border: 1px solid #ddd;
}
.contact-feature {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-feature > div {
  border: 1px solid #000;
  float: left;
  width: 50%;
}
.contact-form {}
.contact-form h3 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}
.contact-form h3 b {}
.contact-form p {}
.send-box {}
.send-box label {}
.send-box label span {}
.send-box input {}
.send-box button {}

.contact-info {}