/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  margin: 0;
  color: #333;
  line-height: 1.6em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

/* Table : member */
.member {
  width: 900px;
  /* height: 500px; */
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.147);
  border-radius: 10px;
  overflow: hidden;
}
.member caption {
  font-size: 30px;
  margin-bottom: 30px;
}
.member tr {
  border-bottom: 1px solid #eee;
}
.member tr:last-child {
  border: none;
}
/* .member tr:hover {
  background-color: #eee;
  transition: 0.3s;
} */
.member tr:nth-child(odd) {
  background-color: #eee;
}
.member th,
.member td {
  padding: 12px;
  text-align: center;
}
.member tr th {
  background-color: dodgerblue;
  color: #fff;
}
.member tr th:first-child {
  border-radius: 10px 0 0 0;
}
.member tr th:last-child {
  border-radius: 0 10px 0 0;
}
.member tr td:last-child{
  color: crimson;
}
